*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
  font-family: 'poppins', sans-serif;
  }

  body{
    background:#080808;
    color: #fff;
  }

  #header{
    width: 100%;
    height: 100vh;
    background-image: url(../Image/Background.png);
    background-size: cover;
    background-position: center;
  }

  .container{
    padding: 16px 20% 16px 10%;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo{
    width: 80px;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }

  nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    position: relative;
  }

  nav ul li a:hover{
    color: #ff004f;
  }

  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .75s;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transition: .75s;
    -moz-transition: .75s;
    -ms-transition: .75s;
    -o-transition: .75s;
}

nav ul li a:hover::after{
  width: 100%;
 }

 .heroSection{
  padding: 32px 10% ;
  color: #080808;
  display: flex;
  justify-content: space-between;
 }

 .heroText p{
  font-size: 32px;
  margin-top: 60px;
 }

 .heroText h1{
  font-size: 60px;
  margin-top: 16px;
 }

 .heroText h1 span{
  color: #ff004f;
 }

 .heroImage img{
  width: 400px
 }