*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
  font-family: 'poppins', sans-serif;
  }

  body{
    background:#080808;
    color: #fff;
  }

  #header{
    width: 100%;
    height: 100vh;
    background-image: url(../Image/Background.png);
    background-size: cover;
    background-position: center;
  }

  .container{
    padding: 16px 20% 16px 10%;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo{
    width: 80px;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }

  nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }